accessible-pygments==0.0.4
aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.13
anyio==3.7.1
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asciitree==0.3.3
asttokens==2.2.1
async-lru==2.0.3
async-timeout==4.0.2
attrs==21.4.0
Babel==2.12.1
backcall==0.2.0
backports.functools-lru-cache==1.6.5
beautifulsoup4==4.12.2
bleach==6.0.0
bokeh==3.1.1
Bottleneck==1.3.7
Brotli==1.0.9
build==0.10.0
CacheControl==0.12.14
Cartopy==0.21.1
certifi==2023.5.7
cffi==1.15.1
cftime==1.6.2
charset-normalizer==3.2.0
cleo==2.0.1
click==8.1.4
click-default-group==1.2.2
cloudpickle==2.2.1
cmocean==3.0.3
colorama==0.4.6
colorcet==3.0.1
colorspacious==1.1.2
comm==0.1.3
contourpy==1.1.0
crashtest==0.4.1
cycler==0.11.0
cytoolz==0.12.0
dask==2023.7.0
dataclasses==0.8
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.7
distributed==2023.7.0
docutils==0.17.1
dulwich==0.21.5
entrypoints==0.4
exceptiongroup==1.1.2
executing==1.2.0
fasteners==0.17.3
fastjsonschema==2.17.1
filelock==3.12.2
flit_core==3.9.0
flox==0.7.2
fonttools==4.40.0
frozenlist==1.4.0
fsspec==2023.6.0
geogif==0.1.4
geoviews==1.10.0
geovista==0.4.0.dev7
glob2==0.7
greenlet==2.0.2
holoviews==1.16.2
html5lib==1.1
hvplot==0.8.4
idna==3.4
imagesize==1.4.1
importlib-metadata==6.8.0
importlib-resources==6.0.0
installer==0.7.0
ipykernel==6.24.0
ipympl==0.9.3
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets==8.0.7
jaraco.classes==3.3.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.3.1
json5==0.9.14
jsonschema==4.17.3
jupyter-book==0.15.1
jupyter-cache==0.6.1
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.2
jupyterlab_myst==2.0.1
jupyterlab-pygments==0.2.2
jupyterlab_server==2.23.0
jupyterlab-widgets==3.0.8
keyring==23.13.1
kiwisolver==1.4.4
latexcodec==2.0.1
linkify-it-py==2.0.0
locket==1.0.0
lockfile==0.12.2
loguru==0.7.0
lz4==4.3.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.5
mdurl==0.1.0
mistune==3.0.0
more-itertools==9.1.0
msgpack==1.0.5
multidict==6.0.4
munkres==1.1.4
myst-nb==0.17.2
myst-parser==0.18.1
nbclient==0.7.4
nbconvert==7.6.0
nbformat==5.9.1
nest-asyncio==1.5.6
netCDF4==1.6.4
notebook_shim==0.2.3
numcodecs==0.11.0
numpy==1.25.1
numpy-groupies==0.9.22
overrides==7.3.1
packaging==23.1
pandas==2.0.3
pandocfilters==1.5.0
panel==1.2.0
param==1.13.0
parso==0.8.3
partd==1.4.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
pip==23.1.2
pkginfo==1.9.6
pkgutil_resolve_name==1.3.10
platformdirs==3.8.1
plotly==5.15.0
poetry==1.5.1
poetry-core==1.6.1
poetry-plugin-export==1.4.0
pooch==1.7.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.1
pybtex==0.24.0
pybtex-docutils==1.0.2
pycparser==2.21
pyct==0.4.6
pydata-sphinx-theme==0.13.3
Pygments==2.15.1
pykdtree==1.3.7.post0
pyobjc-core==9.2
pyobjc-framework-Cocoa==9.2
pyparsing==3.0.9
pyproj==3.6.0
pyproject_hooks==1.0.0
pyrsistent==0.19.3
pyshp==2.3.1
PySocks==1.7.1
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2023.3
pyvista==0.40.1
pyvistaqt==0.11.0
pyviz-comms==2.3.2
PyYAML==6.0
pyzmq==25.1.0
QtPy==2.3.1
rapidfuzz==2.15.1
requests==2.31.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
scikit-learn==1.3.0
scipy==1.11.1
scooby==0.7.2
Send2Trash==1.8.2
setuptools==68.0.0
shapely==2.0.1
shellingham==1.5.0.post1
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
Sphinx==4.5.0
sphinx-book-theme==1.0.1
sphinx-comments==0.0.3
sphinx-copybutton==0.5.2
sphinx_design==0.3.0
sphinx_external_toc==0.3.1
sphinx-jupyterbook-latex==0.5.2
sphinx-multitoc-numbering==0.1.3
sphinx-thebe==0.2.1
sphinx-togglebutton==0.3.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.18
stack-data==0.6.2
tabulate==0.9.0
tblib==1.7.0
tenacity==8.2.2
terminado==0.17.1
threadpoolctl==3.1.0
tinycss2==1.2.1
tomli==2.0.1
tomlkit==0.11.8
toolz==0.12.0
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
trame==2.5.0
trame-client==2.9.4
trame-components==2.1.1
trame-deckgl==2.0.2
trame-markdown==2.0.2
trame-matplotlib==2.0.2
trame-plotly==2.1.1
trame-rca==0.3.1
trame-router==2.0.2
trame-server==2.11.5
trame-simput==2.3.2
trame-vega==2.0.3
trame-vtk==2.5.4
trame-vuetify==2.2.4
trove-classifiers==2023.7.6
typing_extensions==4.7.1
typing-utils==0.1.0
tzdata==2023.3
uc-micro-py==1.0.1
urllib3==1.26.16
virtualenv==20.24.0
vtk==9.2.6
watermark==2.4.3
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.6.1
wheel==0.40.0
widgetsnbextension==4.0.8
wslink==1.11.1
xarray==2023.6.0
xattr==0.10.1
xyzservices==2023.5.0
yarl==1.9.2
zarr==2.15.0
zict==3.0.0
zipp==3.16.0
